@font-face
{
    font-family: 'tt_lakes_compressed_black_dRg';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/ttlakes/tt_lakes_compressed_black-webfont.woff2') format('woff2'),
    url('./fonts/ttlakes/tt_lakes_compressed_black-webfont.woff') format('woff');
}

@font-face
{
    font-family: 'tt_lakes_condensed_bold_demRg';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/ttlakes/tt_lakes_condensed_bold-webfont.woff2') format('woff2'),
    url('./fonts/ttlakes/tt_lakes_condensed_bold-webfont.woff') format('woff');
}
body
{
    font-family: 'tt_lakes_condensed_bold_demRg';
}
.btn
{
    border-radius: 0;
    background-color: #da292a;
}
.black
{
    background-color: #000;
}

.white
{
    color: #fff;
}
.white2
{
    background-color: #fff;
}

.black-text
{
    color: #000;
}

.hunted
{
    background: rgb(80,110,112);
    background: linear-gradient(180deg, rgba(80,110,112,1) 0%, rgba(8,32,39,1) 100%);
}

.ash
{
    background: rgb(172,25,25);
    background: linear-gradient(180deg, rgba(172,25,25,1) 0%, rgba(39,8,8,1) 100%);
}
